body{
    margin: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
    background-color: #BEBADF;
    /* Created with https://www.css-gradient.com */
/* background: #F3E4F0; */
background: -webkit-linear-gradient(top left, #F3E4F0, #A1E7E9);
background: -moz-linear-gradient(top left, #F3E4F0, #A1E7E9);
background: linear-gradient(to bottom right, #F3E4F0, #A1E7E9);
    overflow: hidden;
}
.image-container{
   width: 200px;
   height: 200px;
   transform-style: preserve-3d;
   transform: perspective(1000px);
   -webkit-transform: perspective(1000px) rotateY(0deg);
   -moz-transform: perspective(1000px);
   -ms-transform: perspective(1000px);
   -o-transform: perspective(1000px);
}
.image-container span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    -webkit-transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    -moz-transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    -ms-transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    -o-transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}
.image-container span img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    outline: 5px solid white;
}
.btn-container{
    position: relative;
    width: 80%;
    
}
.btn{
    position: absolute;
    bottom: -80px;
    background-color: #3B8DFD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
}
#prev{
    left: 20%;
}
#next{
    right: 20%;
}
/*...................................................................*/
